<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyway.resource.mapper.ProxyNodeMapper">

    <resultMap type="com.skyway.resource.domain.ProxyNode" id="ProxyNodeResult">
        <id     property="id"          column="id"           />
        <result property="instanceId"  column="instance_id"  />
        <result property="customerId"  column="customer_id"  />
        <result property="nodeName"    column="node_name"    />
        <result property="nodeType"    column="node_type"    />
        <result property="address"     column="address"      />
        <result property="port"        column="port"         />
        <result property="url"         column="url"          />
        <result property="configJson"  column="config_json"  />
        <result property="domainPolicyJson" column="domain_policy_json" />
        <result property="expireTime"  column="expire_time"  />
        <result property="customId"    column="custom_id"    />
        <result property="status"      column="status"       />
        <result property="remark"      column="remark"       />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"  column="create_time"  />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"  column="update_time"  />
        <result property="totalTrafficBytes" column="total_traffic_bytes" />
    </resultMap>

    <sql id="selectProxyNodeVo">
        select p.id, p.instance_id, p.customer_id, p.node_name, p.node_type, p.address, p.port, p.url, p.config_json, p.domain_policy_json,
               p.expire_time, p.custom_id, p.status, p.remark, p.create_by, p.create_time, p.update_by, p.update_time,
               (select ifnull(sum(ifnull(t.rx_delta, 0) + ifnull(t.tx_delta, 0)), 0)
                  from res_proxy_node_traffic t where t.node_id = p.id) as total_traffic_bytes
        from res_proxy_node p
    </sql>

    <select id="selectList" parameterType="com.skyway.resource.domain.ProxyNode" resultMap="ProxyNodeResult">
        <include refid="selectProxyNodeVo"/>
        <where>
            <if test="instanceId != null"> and p.instance_id = #{instanceId} </if>
            <if test="customerId != null"> and p.customer_id = #{customerId} </if>
            <if test="nodeType != null and nodeType != ''"> and p.node_type = #{nodeType} </if>
            <if test="status != null and status != ''"> and p.status = #{status} </if>
            <if test="nodeName != null and nodeName != ''"> and p.node_name like concat('%', #{nodeName}, '%') </if>
            <if test="expireStatus == 'unexpired'"> and (p.expire_time is null or p.expire_time &gt;= sysdate()) </if>
            <if test="expireStatus == 'expired'"> and p.expire_time is not null and p.expire_time &lt; sysdate() </if>
        </where>
        order by p.create_time desc
    </select>

    <select id="count" parameterType="com.skyway.resource.domain.ProxyNode" resultType="int">
        select count(1) from res_proxy_node
        <where>
            <if test="instanceId != null"> and instance_id = #{instanceId} </if>
            <if test="customerId != null"> and customer_id = #{customerId} </if>
            <if test="nodeType != null and nodeType != ''"> and node_type = #{nodeType} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="nodeName != null and nodeName != ''"> and node_name like concat('%', #{nodeName}, '%') </if>
            <if test="expireStatus == 'unexpired'"> and (expire_time is null or expire_time &gt;= sysdate()) </if>
            <if test="expireStatus == 'expired'"> and expire_time is not null and expire_time &lt; sysdate() </if>
        </where>
    </select>

    <select id="selectById" parameterType="Long" resultMap="ProxyNodeResult">
        <include refid="selectProxyNodeVo"/>
        where id = #{id}
    </select>

    <select id="selectExpiredAndNormal" resultMap="ProxyNodeResult">
        <include refid="selectProxyNodeVo"/>
        where expire_time is not null and expire_time &lt; #{maxExpireTime} and (status = '0' or status is null)
        order by expire_time asc
    </select>

    <select id="selectExpiringWithin" resultMap="ProxyNodeResult">
        <include refid="selectProxyNodeVo"/>
        where expire_time is not null and expire_time &gt;= #{fromTime} and expire_time &lt;= #{toTime} and (status = '0' or status is null)
        order by expire_time asc
    </select>

    <select id="selectByInstanceIdAndPort" resultMap="ProxyNodeResult">
        <include refid="selectProxyNodeVo"/>
        where instance_id = #{instanceId} and port = #{port}
        limit 1
    </select>

    <select id="selectPortsByInstanceId" resultType="int">
        select port from res_proxy_node where instance_id = #{instanceId} and port is not null order by port
    </select>

    <select id="countByInstanceId" resultType="int">
        select count(1) from res_proxy_node where instance_id = #{instanceId}
    </select>

    <select id="countByCustomerId" resultType="int">
        select count(1) from res_proxy_node where customer_id = #{customerId}
    </select>

    <insert id="insert" parameterType="com.skyway.resource.domain.ProxyNode" useGeneratedKeys="true" keyProperty="id">
        insert into res_proxy_node (instance_id, customer_id, node_name, node_type, address, port, url, config_json, domain_policy_json, expire_time, custom_id, status, remark, create_by, create_time, update_time)
        values (#{instanceId}, #{customerId}, #{nodeName}, #{nodeType}, #{address}, #{port}, #{url}, #{configJson}, #{domainPolicyJson}, #{expireTime}, #{customId}, #{status}, #{remark}, #{createBy}, sysdate(), sysdate())
    </insert>

    <update id="update" parameterType="com.skyway.resource.domain.ProxyNode">
        update res_proxy_node
        <set>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="nodeName != null">node_name = #{nodeName},</if>
            <if test="nodeType != null and nodeType != ''">node_type = #{nodeType},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="port != null">port = #{port},</if>
            <if test="url != null">url = #{url},</if>
            <if test="configJson != null">config_json = #{configJson},</if>
            expire_time = #{expireTime},
            <if test="customId != null">custom_id = #{customId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <update id="updateDomainPolicy">
        update res_proxy_node
        set domain_policy_json = #{domainPolicyJson}, update_by = #{updateBy}, update_time = sysdate()
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from res_proxy_node where id = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="Long">
        delete from res_proxy_node where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
