<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyway.resource.mapper.ProxyNodeTrafficMapper">

    <resultMap type="com.skyway.resource.domain.ProxyNodeTraffic" id="ProxyNodeTrafficResult">
        <id     property="id"       column="id"        />
        <result property="nodeId"   column="node_id"   />
        <result property="statTime" column="stat_time" />
        <result property="rxDelta"  column="rx_delta"  />
        <result property="txDelta"  column="tx_delta"  />
    </resultMap>

    <insert id="insert" parameterType="com.skyway.resource.domain.ProxyNodeTraffic" useGeneratedKeys="true" keyProperty="id">
        insert into res_proxy_node_traffic (node_id, stat_time, rx_delta, tx_delta)
        values (#{nodeId}, #{statTime}, #{rxDelta}, #{txDelta})
    </insert>

    <select id="selectSumByNodeId" resultType="java.util.HashMap">
        select
            ifnull(sum(rx_delta), 0) as totalRx,
            ifnull(sum(tx_delta), 0) as totalTx
        from res_proxy_node_traffic
        where node_id = #{nodeId}
    </select>

    <select id="selectRecentByNodeId" resultMap="ProxyNodeTrafficResult">
        select id, node_id, stat_time, rx_delta, tx_delta
        from res_proxy_node_traffic
        where node_id = #{nodeId}
        order by stat_time desc
        limit #{limit}
    </select>

    <delete id="deleteByNodeId">
        delete from res_proxy_node_traffic where node_id = #{nodeId}
    </delete>
</mapper>
